:root {
  --dark: oklch(25.196% 0 none); /* #222222 */
  --light: oklch(100% 0 none); /* #ffffff */

  --main-brand-color: oklch(0% 0 none); /* #000000 */
  --conf-brand-color: oklch(46.448% 0.13143 250.27); /* #025b9f */
  --camp-brand-color: oklch(44.913% 0.15124 142.04); /* #076800 */
  --meetup-brand-color: oklch(48.818% 0.19165 20.152); /* #b30a2e */
  --gaming-brand-color: oklch(58.13% 0.19134 31.365); /* #d43d27 */
  --irl-brand-color: oklch(42.186% 0.13876 318.43); /* #6c2e7d */

  --text-color: var(--dark);
  --inverse-text-color: var(--light);
  --background-color: var(--light);
  --inverse-background-color: var(--dark);
  --light-accent: var(--light);
  --dark-accent: var(--dark);
  --link-color: oklch(46.448% 0.13143 250.27); /* #025b9f */
  --secondary-background: #edf5f8;

  --base-font-size: 112.5%;
  --font-stack: "Open Sans", sans-serif;
  --heading-font-stack: "League Spartan", serif;
}

/* -------------------------------------------------------------------------
 * Reset
 * ------------------------------------------------------------------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
:where(html) {
  scrollbar-gutter: stable;
}
html,
body {
  margin: 0;
}
p,
ol,
ul,
iframe {
  margin: 0 0 1.5rem;
}
img {
  height: auto;
  width: 100%;
}
iframe {
  border: 0;
  width: 100%;
}
strong {
  font-weight: 600;
}

/* -------------------------------------------------------------------------
 * Layout
 * ------------------------------------------------------------------------- */

 @supports (display: grid) {
  body {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 44rem) 1fr;
  }
  .site-header {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  main {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .site-footer {
    grid-column: 1/4;
    grid-row: 3/4;
  }
}
.attention {
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem 5% 0.75rem;
  text-align: center;
  width: 100%;
}
.site-header {
  border-bottom: 0.2rem solid;
}
.masthead {
  padding: 1.5rem 5% 0.5rem;
}
.colophon {
  margin: 0 auto;
  max-width: 75rem;
}
.upcoming-event,
.colophon {
  padding: 0 5%;
}
.branding-logo {
  display: block;
  height: 4rem;
  margin: 0 auto;
  width: auto;
}
.main-nav-menu a {
  padding: 0.33rem;
  text-decoration: none;
}
.nav-list {
  margin: 0;
  padding: 0;
}
.nav-list li {
  padding: 0.75rem 0;
}
.social li {
  display: inline;
}
.social-icons,
.social-icons a {
  padding: 0;
  margin: 0;
}
.social-icons a {
  display: inline-block;
}
.social-icons li {
  margin: 0 0.35rem;
}
.social-icons a {
  padding: 0 0.25rem;
}
.icon {
  width: 1.75rem;
}
@supports (flex-wrap: wrap) {
  .social-icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-block-start: 0.3rem;
  }
  .social-icons li {
    margin: 0;
    padding: 0;
  }
  @media (min-width: 50rem) {
    .nav-list {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: center;
      padding: 0.5rem 0;
    }
  }
  @media (min-width: 70rem) {
    .site-header {
      padding-block-start: 0;
    }
    .masthead {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-inline: auto;
      max-inline-size: 75rem;
      padding: 0.75rem 5%;
    }
    .main-nav-menu li {
      margin: 0;
    }
    .nav-list {
      padding: 0;
    }
  }
}
.upcoming-event {
  overflow: auto;
  padding: 1rem 5% 0.5rem;
}
.event-organizer {
  margin: 0 0 0.5rem;
}
.event-title {
  margin: 0;
}
.event-description {
  margin: 0 0 1rem;
  text-wrap: balance;
}
.event-specifics {
  padding: 0;
}
.event-details,
.event-registration {
  margin: 1.5rem 0;
}
main {
  padding: 0 5%;
  margin: 1.5rem auto;
  max-width: 44rem;
}
 @supports (display: grid) {
  main {
    width: 100%;
  }
}
.past-event {
  margin-bottom: 3rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.sub-head {
  margin-bottom: 0.25rem;
}
h2 + .sub-head,
h3 + .sub-head,
h4 + .sub-head {
  margin-top: 0.25rem;
}
.branded-events {
  margin-bottom: 1.5rem;
}
.venue {
  margin-top: 1.5rem;
}
.address {
  list-style-type: "";
  margin: 0 0 1.5rem;
  padding: 0;
}
.venue-address {
  font-size: 1.5rem;
  font-weight: bold;
}
.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  margin: 0.75rem 0;
  width: 100%;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.team {
  list-style: none;
  padding: 0;
}
.team li {
  margin: 1.25em;
}
.team p {
  margin: 0;
}
.team img {
  height: auto;
  max-width: 14rem;
}
img.watching {
  transform: rotate(90deg);
}
@supports (display: grid) {
  .team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
    grid-gap: 1.5rem;
  }
  .team img {
    max-width: 10rem;
  }
  @media (min-width: 44.2rem) {
    img.watching {
      transform: rotate(44deg);
    }
  }
}
.talk {
  margin-bottom: 1.5rem;
}
.talk-title,
.speaker-name {
  padding: 0.75rem 0;
}
ul.schedule {
  margin: 1.5rem 0;
}
@supports (display: grid) {
  @media (min-width: 35rem) {
    .talk {
      display: grid;
    }
    .speaker {
      display: grid;
      grid-template-columns: 1fr auto;
      column-gap: 1.5rem;
      align-content: start;
      min-height: 16rem;
    }
    .speaker-name {
      grid-column: 1/3;
      grid-row: 1/2;
    }
    .speaker-image {
      max-width: 10rem;
    }
  }
}
@supports (display: flex) {
  .sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
}
.logo {
  margin: 1.5rem;
  width: auto;
}
.site-footer {
  border-top: 0.1rem solid;
}
.colophon {
  padding: 1.5rem 5%;
}
.colophon ul {
  padding: 0;
}
.colophon li {
  list-style-type: "";
}
.colophon a {
  display: inline-block;
}
@supports (display: flex) {
  .colophon ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 1.5rem;
    margin-bottom: 0.5rem;
  }
  .colophon li {
    margin: 0;
  }
}

/* -------------------------------------------------------------------------
 * Typography & Styles
 * ------------------------------------------------------------------------- */
body {
  font-family: "Open Sans", sans-serif;
  font-family: var(--font-stack);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 112.5%;
  font-size: var(--base-font-size, 112.5%);
  font-variation-settings: "wdth" 100;
  line-height: 1.5;
}
.masthead,
.upcoming-event,
.colophon {
  text-align: center;
}
.main-nav-menu li {
  list-style: none;
}
.main-nav-menu a {
  text-decoration: none;
}
.upcoming-event {
  font-weight: bold;
}
.event-title {
  font-size: 3.375rem;
}
.event-description {
  font-size: 1.5rem;
  text-wrap: pretty;
}
.event-specifics {
  list-style-type: "";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "League Spartan", sans-serif;
  font-family: var(--heading-font-stack);
  font-size: 2.25rem;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  line-height: 1.1;
  text-wrap: balance;
}
@media (min-width: 35rem) {
  .page-title {
    font-size: 3.375rem;
  }
}
.speaker-image {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 12rem;
}
.sub-head {
  font-size: 1.5rem;
}
.branded-events {
  text-align: center;
}
.team li {
  text-align: center;
}
.speaker-image,
.team img {
  border-radius: 50%;
}
.sponsors {
  text-align: center;
}
a {
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.15rem;
}
.skip-link {
  padding: 0.25rem 0.65rem;
  position: absolute;
  top: 0.75rem;
  left: -9999rem;
  z-index: 10000;
}
a[aria-current] {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.2rem;
}
.colophon a[aria-current] {
  text-decoration: none;
}
.featured-link {
  border-radius: 1.38em;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.5rem 3rem;
  text-decoration: none;
  white-space: nowrap;
}
.featured-link.inverse {
  font-weight: 700;
}
.join-us .featured-link,
.get-tickets .featured-link,
.buy-tickets .featured-link {
  font-size: 1.125rem;
  padding: 0.5rem 1.5rem;
}

/* -------------------------------------------------------------------------
 * Colours
 * ------------------------------------------------------------------------- */
body {
  background: #fff;
  background: var(--background-color);
  color: #222222;
  color: var(--text-color);
}
.skip-link {
  background-color: #fff;
  background-color: var(--background-color);
}
.attention {
  background-color: #000;
  color: #fff;
  color: var(--inverse-text-color);
}
.main .site-header {
  border-color: #000000; /* main baseline colour */
  border-color: var(--main-brand-color);
}
.conf .site-header {
  border-color: #025b9f; /* conf baseline colour */
  border-color: var(--conf-brand-color);
}
.camp .site-header {
  border-color: #025b9f; /* camp baseline colour */
  border-color: var(--camp-brand-color);
}
.meetup .site-header {
  border-color: #b30a2e; /* meetup baseline colour */
  border-color: var(--meetup-brand-color);
}
.gaming .site-header {
  border-color: #d43d27; /* gaming baseline colour */
  border-color: var(--gaming-brand-color);
}
.irl .site-header {
  border-color: #6c2e7d; /* irl baseline colour */
  border-color: var(--irl-brand-color);
}
.main .branding-logo {
  fill: #000000; /* main baseline colour */
  fill: var(--main-brand-color);
}
.conf .branding-logo {
  fill: #025b9f; /* conf baseline colour */
  fill: var(--conf-brand-color);
}
.camp .branding-logo {
  fill: #025b9f; /* camp baseline colour */
  fill: var(--camp-brand-color);
}
.meetup .branding-logo {
  fill: #b30a2e; /* meetup baseline colour */
  fill: var(--meetup-brand-color);
}
.gaming .branding-logo {
  fill: #d43d27; /* gaming baseline colour */
  fill: var(--gaming-brand-color);
}
.irl .branding-logo {
  fill: #6c2e7d; /* irl baseline colour */
  fill: var(--irl-brand-color);
}
.main-nav-menu a {
  color: #222222;
  color: var(--text-color);
}
.main .icon {
  fill: #000000; /* main baseline colour */
  fill: var(--main-brand-color);
}
.conf .icon {
  fill: #025b9f; /* conf baseline colour */
  fill: var(--conf-brand-color);
}
.camp .icon {
  fill: #025b9f; /* camp baseline colour */
  fill: var(--camp-brand-color);
}
.meetup .icon {
  fill: #b30a2e; /* meetup baseline colour */
  fill: var(--meetup-brand-color);
}
.gaming .icon {
  fill: #d43d27; /* gaming baseline colour */
  fill: var(--gaming-brand-color);
}
.irl .icon {
  fill: #6c2e7d; /* irl baseline colour */
  fill: var(--irl-brand-color);
}
.upcoming-event {
  color: #fff;
  color: var(--inverse-text-color);
}
.main .upcoming-event {
  background-color: #000000; /* main baseline colour */
  background-color: var(--main-brand-color);
}
.conf .upcoming-event {
  background-color: #025b9f; /* conf baseline colour */
  background-color: var(--conf-brand-color);
}
.camp .upcoming-event {
  background-color: #025b9f; /* camp baseline colour */
  background-color: var(--camp-brand-color);
}
.meetup .upcoming-event {
  background-color: #b30a2e; /* meetup baseline colour */
  background-color: var(--meetup-brand-color);
}
.irl .upcoming-event {
  background-color: #6c2e7d; /* irl baseline colour */
  background-color: var(--irl-brand-color);
}
.gaming .upcoming-event {
  background-color: #d43d27; /* gaming baseline colour */
  background-color: var(--gaming-brand-color);
}
.upcoming-event .event-title {
  color: #fff;
  color: var(--inverse-text-color);
}
.main h1, .main h2, .main h3, .main h4, .main h5, .main h6 {
  color: #000000; /* main baseline colour */
  color: var(--main-brand-color);
}
.conf h1, .conf h2, .conf h3, .conf h4, .conf h5, .conf h6 {
  color: #025b9f; /* conf baseline colour */
  color: var(--conf-brand-color);
}
.camp h1, .camp h2, .camp h3, .camp h4, .camp h5, .camp h6 {
  color: #025b9f; /* camp baseline colour */
  color: var(--camp-brand-color);
}
.meetup h1, .meetup h2, .meetup h3, .meetup h4, .meetup h5, .meetup h6 {
  color: #b30a2e; /* meetup baseline colour */
  color: var(--meetup-brand-color);
}
.gaming h1, .gaming h2, .gaming h3, .gaming h4, .gaming h5, .gaming h6 {
  color: #d43d27; /* gaming baseline colour */
  color: var(--gaming-brand-color);
}
.irl h1, .irl h2, .irl h3, .irl h4, .irl h5, .irl h6 {
  color: #6c2e7d; /* irl baseline colour */
  color: var(--irl-brand-color);
}
.main .site-footer {
  border-color: #000000; /* main baseline colour */
  border-color: var(--main-brand-color);
}
.conf .site-footer {
  border-color: #025b9f; /* conf baseline colour */
  border-color: var(--conf-brand-color);
}
.camp .site-footer {
  border-color: #025b9f; /* camp baseline colour */
  border-color: var(--camp-brand-color);
}
.meetup .site-footer {
  border-color: #b30a2e; /* meetup baseline colour */
  border-color: var(--meetup-brand-color);
}
.gaming .site-footer {
  border-color: #d43d27; /* gaming baseline colour */
  border-color: var(--gaming-brand-color);
}
.irl .site-footer {
  border-color: #6c2e7d; /* irl baseline colour */
  border-color: var(--irl-brand-color);
}
a {
  color: #025b9f;
  color: var(--link-color);
}
.main a {
  text-decoration-color: #000000; /* main baseline colour */
  text-decoration-color: var(--main-brand-color);
}
.conf a {
  text-decoration-color: #025b9f; /* conf baseline colour */
  text-decoration-color: var(--conf-brand-color);
}
.camp a {
  text-decoration-color: #025b9f; /* camp baseline colour */
  text-decoration-color: var(--camp-brand-color);
}
.meetup a {
  text-decoration-color: #b30a2e; /* meetup baseline colour */
  text-decoration-color: var(--meetup-brand-color);
}
.gaming a {
  text-decoration-color: #d43d27; /* gaming baseline colour */
  text-decoration-color: var(--gaming-brand-color);
}
.irl a {
  text-decoration-color: #6c2e7d; /* irl baseline colour */
  text-decoration-color: var(--irl-brand-color);
}
a[aria-current] {
  color: #025b9f;
  color: var(--link-color);
}
.main a[aria-current] {
  text-decoration-color: #000000; /* main baseline colour */
  text-decoration-color: var(--main-brand-color);
}
.conf a[aria-current] {
  text-decoration-color: #025b9f; /* conf baseline colour */
  text-decoration-color: var(--conf-brand-color);
}
.camp a[aria-current] {
  text-decoration-color: #025b9f; /* camp baseline colour */
  text-decoration-color: var(--camp-brand-color);
}
.meetup a[aria-current] {
  text-decoration-color: #b30a2e; /* meetup baseline colour */
  text-decoration-color: var(--meetup-brand-color);
}
.gaming a[aria-current] {
  text-decoration-color: #d43d27; /* gaming baseline colour */
  text-decoration-color: var(--gaming-brand-color);
}
.irl a[aria-current] {
  text-decoration-color: #6c2e7d; /* irl baseline colour */
  text-decoration-color: var(--irl-brand-color);
}
.colophon a[aria-current] {
  color: #222222;
  color: var(--text-color);
}
a.inverse {
  color: #fff;
  color: var(--inverse-text-color);
  text-decoration-color: #fff;
  text-decoration-color: var(--light-accent);
}
.featured-link {
  color: #ffff;
  color: var(--light-accent);
}
.main .featured-link {
  background-color: #000000; /* main baseline colour */
  background-color: var(--main-brand-color);
}
.conf .featured-link {
  background-color: #025b9f; /* conf baseline colour */
  background-color: var(--conf-brand-color);
}
.camp .featured-link {
  background-color: #025b9f; /* camp baseline colour */
  background-color: var(--camp-brand-color);
}
.meetup .featured-link {
  background-color: #b30a2e; /* meetup baseline colour */
  background-color: var(--meetup-brand-color);
}
.gaming .featured-link {
  background-color: #d43d27; /* gaming baseline colour */
  background-color: var(--gaming-brand-color);
}
.irl .featured-link {
  background-color: #6c2e7d; /* irl baseline colour */
  background-color: var(--irl-brand-color);
}
.main .featured-link {
  color: #000000; /* main baseline colour */
  color: var(--main-brand-color);
}
.conf .featured-link {
  color: #025b9f; /* conf baseline colour */
  color: var(--conf-brand-color);
}
.camp .featured-link {
  color: #025b9f; /* camp baseline colour */
  color: var(--camp-brand-color);
}
.meetup .featured-link {
  color: #b30a2e; /* meetup baseline colour */
  color: var(--meetup-brand-color);
}
.gaming .featured-link {
  color: #d43d27; /* gaming baseline colour */
  color: var(--gaming-brand-color);
}
.irl .featured-link {
  color: #6c2e7d; /* irl baseline colour */
  color: var(--irl-brand-color);
}
.featured-link.inverse {
  background-color: #fff;
  background-color: var(--light-accent);
}
.featured-link.meetup,
.featured-link.gaming,
.featured-link.camp,
.featured-link.conf,
.featured-link.irl {
  color: #fff;
  color: var(--inverse-text-color);
}
.featured-link.meetup {
  background-color: #b30a2e;
  background-color: var(--meetup-brand-color);
}
.featured-link.gaming {
  background-color: #d43d27;
  background-color: var(--gaming-brand-color);
}
.featured-link.camp {
  background-color: #076800;
  background-color: var(--camp-brand-color);
}
.featured-link.conf {
  background-color: #025b9f;
  background-color: var(--conf-brand-color);
}
.featured-link.irl {
  background-color: #025b9f;
  background-color: var(--irl-brand-color);
}
.join-us .featured-link,
.get-tickets .featured-link,
.buy-tickets .featured-link {
  color: #fff;
  color: var(--light-accent);
}

/* -------------------------------------------------------------------------
 * Focus structure and styles
 * ------------------------------------------------------------------------- */
*:focus {
  outline: 2px solid #222;
  outline-color: var(--dark-accent);
  outline-offset: 0.2rem;
  text-decoration: none;
  z-index: 1000;
}
.inverse:focus {
  outline-color: #fff;
  outline-color: var(--light-accent);
}
*:focus:not(:focus-visible) {
  outline: none;
}
*:focus-visible {
  outline: 0.175rem solid #222;
  outline-color: var(--dark-accent);
}
.inverse:focus-visible {
  outline-color: #fff;
  outline-color: var(--light-accent);
  outline-offset: 0.2rem;
}
.skip-link:focus {
  left: 0.75rem;
  outline-offset: 0;
}

/* -------------------------------------------------------------------------
 * Utility class to hide content visually while keeping it screen reader-accessible.
 * Source: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html 
 * ------------------------------------------------------------------------- */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
