html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

html, body {
    margin: 0;
}

/* fonts */
h1 {
    color: white;
    font-family: 'League Spartan', 'Open Sans', sans-serif;
    font-size: 138px;
    font-weight: 600;
    margin: 100px 0;
    letter-spacing: -0.03em;
}
h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    position: relative;
    color: black;
    font-size: 30px;
}
h4 {
    font-size: 24px;
    padding-top: 24px;
}
h2:before, h3:before {
    content: '/';
    position: absolute;
    left: -25px;
    color: yellow;
}
.speakersPage h2 {
    margin-bottom: 20px;
    position: relative;
}
p {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
a {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-decoration: none;
    border-bottom: 2px solid black;
    transition: 0.3s all;
}
a:hover, a:focus, a:active {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid yellow;
    background: yellow;
}

/* header */
/*header {
    background: url(assets/IMG_1748_Joseph_HackerYou_monotone_v1.jpg) center;
    background-position: cover;
    background-attachment: fixed;
    text-align: center;
    background-size: contain;
}*/
.logoContainer {
    background-color: black;
    /*background: #fff;*/
    border-bottom: 3px solid white;
    padding: 15px;
    text-align: left;   
}
.logoContainer img {
    position: relative;
    left: 5%;
}
header .text-wrapper {
    width: 63%;
    text-align: left;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}
header p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 600;
    margin: 0 auto;
    line-height: 60px;
}
header p.location {
    font-weight: 100;
}
header p.subtitle {
    font-size: 24px;
    padding: 60px 0 100px;
    font-weight: 400;
}
header a {
    border: none;
}
.logo-wrapper {
    background: white;
    padding: 6px 10px;
    display: inline-block;
    transform: rotate(-5deg) translateY(50%);
    transition: all 2s;
}
.logo {
    transform: rotate(5deg);
    margin: 0;
    display: inline-block;
    transition: all 2s;
}
.logo:hover, .logo:active, .logo:focus {
    border: none;
    background: none;
}
.logo-wrapper:hover, .logo-wrapper:active, .logo-wrapper:focus {
    background: yellow;
    transform: rotate(10deg) translateY(50%);
}
.logo-wrapper:hover .logo, .logo-wrapper:active .logo, .logo-wrapper:focus .logo {
    transform: rotate(-10deg);
}

/* nav */
.main-navigation {
    float: right;
    position: relative;
    right: 5%;
}
.menu ul {
    margin: 0 auto;
}
.menu li {
    border: none;
    margin-left: 20px;
    float: left;
    position: relative;
}
.menu a {
    color: white;
    border: none;
}
.menu a:hover, .menu a:active, .menu a:focus {
    border-bottom: 2px solid yellow;
    background: none;
}
.buyTickets a {
    background: white;
    border-radius: 25px;
    color: black;
    padding: 8px 15px;
    white-space: nowrap;
}
.buyTickets a:hover, .buyTickets a:active, .buyTickets a:focus {
    border: 0;
    color: black;
    background: yellow;
}

/* home page hero */
.home .text-wrapper {
    background-color: white;
    /*background: url(assets/IMG_1748_Joseph_HackerYou_monotone_v1.jpg) center;*/
    background-position: cover;
    background-attachment: fixed;
    text-align: center;
    background-size: contain;
    width: 100%;
    padding: 100px 17.5%;
}

.heading-wrapper {
    background: black;
    padding: 30px 50px;
    display: inline-block;
    transform: rotate(-5deg);
}
.heading-wrapper h1 {
    transform: rotate(5deg);
    margin: 0;
}

/* sections */
section {
    padding: 40px;
}
section .textWrapper {
    width: 60%;
    margin: 0 auto;
}

.event, main {
    background: #EDF5F8;
}
section p span {
    font-size: 20px;
    font-weight: 600;
}
/*ul {
    list-style: none;
    padding: 0;
}
li {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid #ccc;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 58px;
}*/
.meetup-img {
    width: 100%;
}


/* footer */
footer {
    background: #f5f5f5;
}
footer p {
    color: #666;
    margin: 0;
    padding: 10px 0 30px;
    position: relative;
    left: 5%;
    display: inline-block;
    max-width: 95%;
}

/* speakers page */

@media (max-width: 1180px) {
    h1 {
        font-size: 9.5vw; 
        margin: 8vw 0 6.5vw;
    }

    p, a {
        font-size: 2.55vw;
        line-height: 4vw;
    }
/*
    header {
        min-height: 35vw;
    }*/

    header p {
        font-size: 4.5vw;
        line-height: 5.8vw;
    }

    header p.subtitle {
        font-size: 3vw;
        line-height: 4.5vw;
        padding: 6vw 0 8vw;
    }
}
/* end media query 1180px */

@media (max-width: 580px) {
    header .text-wrapper {
        width: 100%;
        padding: 0 10.5vw;
    }

    section {
        padding: 8vw 10.5vw;
    }

    section .textWrapper {
        width: 100%;
    }

    h2, h3 {
        font-size: 6vw;
    }

    p, a {
        font-size: 4.6vw;
        line-height: 6.5vw;
    }
    .logoContainer {
        text-align: center;
    }
    .logoContainer img {
        left: 0;
    }
    .main-navigation {
        float: none;
    }
    .menu ul {
        display: flex;
        justify-content: space-around;  
    }
    .menu li {
        float: none;
    }
    .menu a {

    }

    footer p {
        left: initial;
        padding: 10px 8vw 10px;
    }
}
/* end media query 580px */