---
layout: default
---

      <article>

{{ content }}

      <nav class="events clearfix">
        <ul>
          <li>
            <a class="meetup" href="https://www.meetup.com/a11yTO/">Meetups</a>
          </li>
          <li>
            <a class="camp" href="https://camp.a11yto.com/">Camp</a>
          </li>
          <li>
            <a class="conf" href="https://conf.a11yto.com/">Conf.</a>
          </li>
          <li>
            <a class="irl" href="http://irl.a11yto.com/">#a11yIRL<span class="sr-only">, Accessibility In Real Life</span></a>
          </li>
          <li>
            <a class="gaming" href="https://gaming.a11yto.com/">Gaming</a>
          </li>
        </ul>
      </nav>

    </article>


